.main__title {
    text-align: center;
    font-size: 0.6em;
    margin: 10px auto;

}

.title1 {
    font-size: 1em;
}

.carte {
    display: flex;
    flex-direction: column;

    &__expo {
        margin: auto;
        margin-bottom: 10px;
        text-align: center;
    }

    &__pics {
        width: 300px;
        height: 200px;
        margin-bottom: 10px;
    }
}