.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 2;
    transition: all 500ms ease;

    &__img {
        height: 50px;
        margin: 10px;
    }

    &--btn {
        width: 30x;
        height: 33px;
        position: absolute;
        right: 10px;
        top: 20px;
        background-color: seashell;
        cursor: pointer;
        border-radius: 5px;
    }

    &__menu {
        height: 30px;
    }

    &__ulHidden {
        display: none;
    }
    &__li {
        display: inline-block;
        margin: 0 7px;
    }
    &--link {
        text-decoration: none;
        color: seashell;
    }
}