@media screen and (min-width: 600px) {
    .navbar--btn {
        display: none;
    }
    
    .navbar__ulHidden {
        display: initial;
        position: absolute;
        top: 40px;
        right: 0;
    }
}

@media screen and (min-width: 700px) {
    .header {
        
        font-size: 1.2em;

        &__h4 {
            padding: 10px 0;
            font-size: 1em;
        }
    }

    #featured_tea {
        max-width: 700px;
        margin: auto;
    }

    .carte {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 900px) {
    .locations {
        height: 500px;
        width: 900px;
        margin: auto;

        &__town {
            margin: 70px 30px;
        }

        &--flex {
            display: flex;
            justify-content: space-around;
        }
    }
    
}
@media screen and (min-width: 1200px){
    .header {
        font-size: 1.5em;
    }
    
    #featured_tea {
        max-width: 1000px;
        margin: 50px auto;
    }
}
@media screen and (min-width: 1370px){
    .header {
        max-width: 1200px;
        margin: auto;
    }
}